body {
    background-color: #999;
}
.form-signin input[type="text"] {
    margin-bottom: 5px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.form-signin .form-control {
    position: relative;
    font-size: 16px;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.vertical-offset-100 {
    padding-top: 40px;
}
.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
    margin: auto;
}
.panel {
    margin-bottom: 20px;
    background-color: rgba(255, 255, 255, 0.75);
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}
.tg  {border-collapse:collapse;border-spacing:0;border-color:#ccc;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#ccc;color:#333;background-color:#fff;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#ccc;color:#333;background-color:#f0f0f0;}
.tg .tg-s6z2{text-align:center}
.time_table select{
    max-width: 125px;
}
.user_id {
    border-radius: 0;
    min-width: 144px;
}
.login_input {
    border-radius: 0;
    margin-bottom: 0 !important;
}
.login_error{
     text-align:right;
     margin-top:8px;
     margin-bottom:0; 
     padding-right:6px;
     color:#eea236;
}
.panel-login{
    display:block;
    text-align:center;
    color:#eea236;
}
.SlectBox {
    padding: 10px;
}
.options label {
  font-weight: 100;
}

/*auto complete*/
.ui-autocomplete {
    padding: 0;
    list-style: none;
    background-color: #fff;
    width: 218px;
    border: 1px solid #B0BECA;
    max-height:auto;
    overflow-x: hidden;
    z-index: 2;
    width: 197px;
}
.ui-autocomplete .ui-menu-item {
    border-top: 1px solid #B0BECA;
    display: block;
    padding: 4px 6px;
    color: #353D44;
    cursor: pointer;
}
.ui-autocomplete .ui-menu-item:first-child {
    border-top: none;
}
.ui-autocomplete .ui-menu-item.ui-state-focus {
    background-color: #D5E5F4;
    color: #161A1C;
}

.error{
	color:#FF0000;
	font-weight:bold;
}